<a href="https://colab.research.google.com/github/haebarassi/dl-lecture/blob/master/groupby%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# group by

1. 어떤 기준에 따라 데이터를 그룹으로 Splitting
2. 어떤 function을 각 그룹에 독립적으로 Applying
3. 자료구조에 결과를 Combining

- Aggregation 통계 계산
  - group 합계, 평균 계산
- transformation
  - 그룹 내 데이터 표준화
- Filtration 
  - 너무 적은 멤버를 가진 그룹을 삭제한다던가
  - 그룹의 합계나 평균에 따라 데이터를 거른다던가

In [ ]:
# SQL의 GROUP BY 와 닮아있다.

1. Splitting an object into groups

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(
     [
         ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
         ("mammal", "Carnivora", 58),
        ],
        index=["falcon", "parrot", "lion", "monkey", "leopard"],
        columns=("class", "order", "max_speed"),
    )

In [ ]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [ ]:
# default is axis=0
grouped = df.groupby("class")
grouped = df.groupby("order", axis="columns")
grouped = df.groupby(["class", "order"])

-> 이러한 grouped가 된 내용을 보여주는 시각적으로 보여주는 부분이 없다. 밑에 나오는지 확인해보자.

- 다양한 mapping 방법들이 있다. ...

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

In [ ]:
df

     A      B         C         D
0  foo    one  0.239197 -0.439032
1  bar    one  0.214055 -0.878818
2  foo    two -0.509118  0.348588
3  bar  three  0.790189 -0.296221
4  foo    two -0.697885  0.979237
5  bar    two  0.889434 -0.567851
6  foo    one  0.458589 -0.403851
7  foo  three  0.218936 -0.439532

In [ ]:
df3 = pd.DataFrame({"X": ["A", "B", "A", "B"], "Y": [1, 4, 3, 2]})

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

In [ ]:
df.groupby("A").groups

{'bar': [1, 3, 5], 'foo': [0, 2, 4, 6, 7]}

In [ ]:
def get_letter_type(letter):
    if letter.lower() in 'aeiou':
        return 'vowel'
    else:
        return 'consonant'

In [ ]:
grouped = df.groupby(get_letter_type, axis=1)

In [ ]:
df.groupby(get_letter_type, axis=1).groups

{'consonant': ['B', 'C', 'D'], 'vowel': ['A']}

In [ ]:
grouped = df.groupby(["A", "B"])

In [ ]:
grouped.groups

{('bar', 'one'): [1], ('bar', 'three'): [3], ('bar', 'two'): [5], ('foo', 'one'): [0, 6], ('foo', 'three'): [7], ('foo', 'two'): [2, 4]}

In [ ]:
grouped